@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  min-height: 100vh;
  min-width: 100%;
  scroll-behavior: smooth;
}
.slick-slide > div {
  margin: 0px 0.6rem;
}
.slick-arrow {
  scale: 2;
  margin: 20px;
  z-index: 40;
  background: transparent;
}

@media screen and (max-width: "768px") {
  .slick-slide > div {
    margin: 0px 1rem;
  }
  
}

:root {
  font-family: "Outfit", "Poppins", "Gilroy";
  color-scheme: dark;
  background-color: #0f0715;
  --primaryLight: #9333ea;
  --primaryDark: #6d28d9;
}


.animateSize {
  animation-name: beat;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-direction: alternate;
  animation-duration: 3s;
}

.animateBorder::before {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0%;
  height: 2px;
  background-color: var(--primaryLight);
  border-radius: 5px;
  transition: all 0.5s;
}

.bgLight:before {
  content: "";
  position: absolute;
  width: 322px;
  height: 308px;
  border-radius: 50%;
  background: var(--primaryLight);
  background: -o-linear-gradient(190deg,
      var(--primaryLight) 0%,
      rgba(115, 67, 210, 0) 100%);
  background: linear-gradient(260deg,
      var(--primaryLight) 0%,
      rgba(115, 67, 210, 0) 100%);
  -webkit-filter: blur(150px);
  filter: blur(150px);
  margin-right: -5%;
  margin-top: -5%;
  z-index: -1;
}

.animateBorder:hover::before {
  width: 100%;
}

.animateText {
  position: relative;
  color: var(#fff);
  text-transform: uppercase;
  width: 100%;
  text-align: center;
  -webkit-box-reflect: below 3px linear-gradient(transparent, rgba(0, 0, 0, 0.1));
  line-height: 0.70em;
  outline: none;
  animation: textAnimation 5s linear infinite;
}

@keyframes textAnimation {

  0%,
  18%,
  20%,
  50.1%,
  60%,
  65.1%,
  80%,
  90.1%,
  92% {
    color: var(#FFF);
    text-shadow: none;
  }

  18.1%,
  20.1%,
  30%,
  50%,
  60.1%,
  65%,
  80.1%,
  90%,
  92.1%,
  100% {
    color: var(#FFF);
    text-shadow: 0 0 10px var(--primaryLight),
      0 0 20px var(--primaryLight),
      0 0 40px var(--primaryLight),
      0 0 80px var(--primaryLight),
      0 0 160px var(--primaryLight);
  }
}

@keyframes beat {
  0% {
    scale: 0.8;
  }

  100% {
    scale: 1;
  }
}


.textStrokePurple {
  color: transparent;
  -webkit-text-stroke-color: var(--primaryLight);
  -webkit-text-stroke-width: 2px;
}